.product-page{

    width: 70%;
    min-width: 25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 4px;

    .price{
        font-size: 1.75rem;

        .cents{
            position: relative;
            top: -0.75em;
            font-size: 0.75rem;
        }
        .sign{
            font-size: 0.75rem;
            position: relative;
            top: -0.75em;
        }
    }   

    .product-figure{
        width: 40%;
        min-width: 19rem;
        .product-image {
            width: 100%;
            height: auto;
        }
        
    }

    .product-details{
        width: 30%;
        min-width: 19rem;
        gap: 1rem;

        p{
            font-size: 0.8rem;
        }
        
        .product-name{
            font-size: 2rem;
        }
    
        .tag-wrapper{
            gap: 1rem;
            color: white;
            .tag{
                text-align: center;
                padding: 5px 0;
                color: black;
                border: 1px solid black;
                width: 5.5rem;
                border-radius: 2px;
                font-weight: 300;
                font-size: 1rem;
                &:hover{
                    cursor: context-menu;
                }
            }
        }

        .separator{
            width: 100%;
        }    
    }

    .purchase-box{
        width: 15rem;
        align-self: flex-start;
        padding: 2rem 1rem;
        border: 1px solid darken(#D3D3D3, 10%);
        border-radius: 4px;
        gap: 1.5rem;

        span{
            font-size: 0.8rem;
            line-height: 1.5;
            strong{
                font-weight: bold;
            }

            &.price{
                font-size: 1.75rem;
            }
            &.allow{
                color: darken($allow, 10%);
                font-weight: 500;
                font-size: 1.1rem;
            }

            &.deny {
                color: $deny;
                font-weight: 500;
                font-size: 1.1rem;
            }
        }
        .button-wrapper{
            gap: 0.5rem;
            button{
                font-weight: 400;
                padding: .5rem 1rem;
                border: 0;
                border-radius: 1000px;
            }
        }
    }
}