html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*/////////////////////////////// CSS RESET END ///////////////////////////////*/
body {
  font-family: "Work Sans", sans-serif;
}

button {
  color: white;
  border: #404040 solid 1px;
  font-weight: 400;
}
button.primary {
  background-color: #0071b3;
}
button.primary:hover {
  background-color: #00a2ff;
}
button.dark {
  background-color: black;
}
button.dark:hover {
  background-color: #333333;
}
button.allow {
  background-color: rgb(58, 179, 21);
}
button.allow:hover {
  background-color: #59e62e;
}
button.deny {
  background-color: #cc0000;
}
button.deny:hover {
  background-color: #ff1a1a;
}
button.simple {
  color: #007185;
  background-color: transparent;
  font-weight: 300;
  font-size: 0.75rem;
}
button.simple:hover {
  text-decoration: underline;
}
button.sold-out {
  background-color: gray;
}
button.sold-out:hover {
  cursor: context-menu;
}
button:hover {
  cursor: pointer;
}

p.error {
  color: #cc0000;
  font-size: 0.7rem;
}

.App {
  background-color: black;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
}
.App.home {
  position: relative;
  background: white;
  background: radial-gradient(circle, #1a1a1a 0%, black 100%);
}
.App.home::before {
  content: "";
  background-size: cover;
  background-image: url("https://i.imgur.com/sDeA7yG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
}
.App.home .main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sectionContainer {
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row.center {
  justify-content: center;
}
.flex-row.align-center {
  align-items: center;
}
.flex-row.align-end {
  align-items: flex-end;
}
.flex-row.space-even {
  justify-content: space-evenly;
}
.flex-row.space-between {
  justify-content: space-between;
}
.flex-row.space-around {
  justify-content: space-around;
}
.flex-row.wrap {
  flex-wrap: wrap;
}
.flex-row.no-wrap {
  flex-wrap: nowrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col.center {
  justify-content: center;
}
.flex-col.align-center {
  align-items: center;
}
.flex-col.space-between {
  justify-content: space-between;
}
.flex-col.space-around {
  justify-content: space-around;
}
.flex-col.space-even {
  justify-content: space-evenly;
}
.flex-col.wrap {
  flex-wrap: wrap;
}
.flex-col.no-wrap {
  flex-wrap: nowrap;
}

.nav {
  height: 5rem;
  width: 100%;
  position: relative;
  margin-bottom: 1rem;
}
.nav div {
  align-self: center;
}
.nav div a {
  color: white;
  text-decoration: none;
  border: 0;
}
.nav div a:hover {
  color: #d9d9d9;
}
.nav div .brand {
  font-size: 45px;
  font-weight: 600;
}
.nav div .nav-link.active {
  color: #1aabff;
}
.nav div .nav-link.active:hover {
  color: #33b5ff;
}
.nav .profile-section {
  gap: 0.5rem;
}
.nav .profile-section .amount {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  line-height: 1.25;
  height: 16px;
  width: 16px;
  background-color: rgb(58, 179, 21);
  border-radius: 50%;
  display: inline-block;
  transform: translate(-5px, -12px);
}
.nav .profile-section .amount.hidden {
  background-color: transparent;
  color: transparent;
}

.mainText {
  color: white;
  align-self: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.mainText h1 {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  margin: 0;
}
.mainText p {
  width: 28rem;
  text-align: center;
  font-weight: 200;
  font-size: 17px;
}
.mainText .flex-row.center {
  gap: 2%;
}
.mainText .flex-row.center button {
  padding: 0.6rem 4rem 0.6rem 4rem;
  width: 14rem;
  border-radius: 0.25rem;
}

.cards-wrapper {
  margin-top: 2rem;
  gap: 1rem;
}

div.searchbar {
  background-color: #bfbfbf;
  height: 3rem;
  margin-bottom: 1rem;
}
div.searchbar .link {
  margin-right: 0.5rem;
  align-self: center;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
div.searchbar .link:hover {
  color: #f2f2f2;
}

input.searchbar {
  font-family: "Work Sans", sans-serif;
  height: 1.85rem;
  align-self: center;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  width: 14rem;
  border: 1px solid white;
}
input.searchbar:focus {
  outline: none;
  border: 1px solid #33b5ff;
  box-shadow: 0px 0px 0.5rem 0.1rem #66c7ff;
}

.select-box {
  align-self: center;
  position: relative;
  overflow: hidden;
}
.select-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Work Sans", sans-serif;
  height: 3rem;
  width: 5rem;
  padding-left: 0.2rem;
  border: 1px black solid;
  outline: none;
  color: white;
  background-color: black;
}
.select-box select::-ms-expand {
  display: none;
}
.select-box select:hover {
  cursor: pointer;
}
.select-box::after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  position: absolute;
  top: 45%;
  right: 3px;
  content: "";
  z-index: 98;
}
.select-box::after:hover {
  cursor: pointer;
}

.card {
  background-color: white;
  width: 25rem;
}
.card .card-details {
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
}
.card .card-details.flex-col {
  gap: 2rem;
}
.card .card-details h2 {
  margin: 0;
  font-size: 2.5rem;
}
.card .card-details .tag-wrapper {
  gap: 1rem;
  color: white;
}
.card .card-details .tag-wrapper .tag {
  padding: 5px 15px;
  color: black;
  border: 1px solid black;
  width: 5.5rem;
  border-radius: 2px;
  font-weight: 300;
  font-size: 1rem;
}
.card .card-details .tag-wrapper .tag:hover {
  cursor: context-menu;
}
.card .card-details .price {
  font-size: 1.5rem;
}
.card .card-details .buttons-wrapper.flex-row {
  gap: 0.5rem;
}
.card .card-details .buttons-wrapper button {
  width: 48%;
  height: 2rem;
  border: none;
  border-radius: 4px;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}
.card .product-image {
  width: 20rem;
  height: 25rem;
}

@media screen and (max-width: 375px) {
  .card .card-details .buttons-wrapper button {
    width: 35%;
  }
}
.not-found {
  text-align: center;
}
.not-found.cart {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.not-found h1 {
  font-size: 3rem;
  color: #0071b3;
}

.cart-wrapper {
  align-items: center;
  background-color: white;
  width: 50%;
  min-width: 27.5rem;
  border: 1px solid white;
  border-radius: 4px;
  gap: 1rem;
}
.cart-wrapper .cart-products {
  width: 95%;
}
.cart-wrapper .checkout-details {
  padding: 0.75rem 2.5rem;
  min-width: 95%;
  align-items: center;
}
.cart-wrapper .checkout-details button {
  position: relative;
  align-self: center;
  font-size: 1rem;
  padding: 0 2rem;
  border: 0;
  border-radius: 4px;
  height: 2rem;
}

.cart-item {
  margin: 0;
  padding: 0.75rem 0rem;
  border-bottom: 1px solid #bfbfbf;
  align-items: center;
}
.cart-item p {
  margin: 0;
  font-size: 0.8rem;
}
.cart-item p.price {
  font-weight: 700;
  font-size: 1rem;
}
.cart-item p.unit-price {
  align-self: flex-end;
  color: #B12704;
}
.cart-item .item-image {
  width: 7.5rem;
  height: 10rem;
}
.cart-item .item-details {
  gap: 0.5rem;
}
.cart-item .item-details .item-name {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}
.cart-item .item-details .buttons-wrapper {
  gap: 0.5rem;
}
.cart-item .item-details .buttons-wrapper button {
  border: 0;
}
.cart-item .item-details .buttons-wrapper button.allow {
  font-weight: 600;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}

.form {
  align-items: center;
}
.form .form-card {
  background-color: white;
  overflow: hidden;
  width: 25rem;
  gap: 1rem;
  align-items: center;
  padding: 4rem 1rem;
  line-height: 1.5;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form .form-card h1 {
  color: black;
  font-size: 1.25rem;
  text-transform: capitalize;
  text-align: center;
}
.form .form-card .form-control label {
  font-size: 0.75rem;
  font-weight: 500;
}
.form .form-card .form-control input {
  padding: 0.5rem 0 0.5rem 2rem;
  line-height: 1.5;
  width: 16rem;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
  outline: none;
}
.form .form-card .form-control input:focus {
  box-shadow: inset 0 1px 2px rgba(203, 203, 210, 0.2), 0 0 4px rgba(0, 113, 179, 0.3);
  border-color: #0071b3;
}
.form .form-card button {
  margin-top: 1.5rem;
  width: 100%;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  border-radius: 3px;
  border: 0;
}
.form .gray {
  background-color: #f3f3f3;
  align-items: center;
  width: 25rem;
  padding: 1.5rem 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.form-icon {
  position: relative;
  top: 49px;
  left: 5px;
  border-right: 1px solid #f3f3f3;
}
.form-icon.repeat {
  left: -96px;
  top: 37px;
}

.error {
  color: red;
  font-size: 0.7rem;
}

.product-creator .internal-update {
  margin-left: 0.2rem;
  gap: 0.2rem;
}
.product-creator .internal-update textArea {
  border: 0;
  outline: none;
  border-left: 1px solid gray;
  resize: none;
}
.product-creator .internal-update label span {
  background-color: white;
  border: 1px solid gray;
  border-right: 0;
  font-size: 1rem;
  padding: 0.1rem;
  font-weight: 400;
}
.product-creator .internal-update label input {
  padding: 0.125rem;
  width: 2rem;
  font-size: 1rem;
  border: 1px solid gray;
  border-left: 0;
  outline: none;
}
.product-creator .new-product-name {
  font-size: 2rem;
  text-align: center;
}
.product-creator .new-tags {
  font-size: 1rem;
  text-align: center;
}
.product-creator .new-price {
  font-size: 1.5rem;
  text-align: center;
}
.product-creator .product-image:hover {
  cursor: pointer;
}
.product-creator .hidden {
  display: none;
}

.sectionContainer .profile {
  align-items: center;
  padding: 4rem 3rem;
  width: 60%;
  min-width: 27.5rem;
  background-color: white;
  border: 1px solid white;
  border-radius: 4px;
  gap: 1rem;
}
.product-page {
  width: 70%;
  min-width: 25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  border-radius: 4px;
}
.product-page .price {
  font-size: 1.75rem;
}
.product-page .price .cents {
  position: relative;
  top: -0.75em;
  font-size: 0.75rem;
}
.product-page .price .sign {
  font-size: 0.75rem;
  position: relative;
  top: -0.75em;
}
.product-page .product-figure {
  width: 40%;
  min-width: 19rem;
}
.product-page .product-figure .product-image {
  width: 100%;
  height: auto;
}
.product-page .product-details {
  width: 30%;
  min-width: 19rem;
  gap: 1rem;
}
.product-page .product-details p {
  font-size: 0.8rem;
}
.product-page .product-details .product-name {
  font-size: 2rem;
}
.product-page .product-details .tag-wrapper {
  gap: 1rem;
  color: white;
}
.product-page .product-details .tag-wrapper .tag {
  text-align: center;
  padding: 5px 0;
  color: black;
  border: 1px solid black;
  width: 5.5rem;
  border-radius: 2px;
  font-weight: 300;
  font-size: 1rem;
}
.product-page .product-details .tag-wrapper .tag:hover {
  cursor: context-menu;
}
.product-page .product-details .separator {
  width: 100%;
}
.product-page .purchase-box {
  width: 15rem;
  align-self: flex-start;
  padding: 2rem 1rem;
  border: 1px solid #bababa;
  border-radius: 4px;
  gap: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.product-page .purchase-box span {
  font-size: 0.8rem;
  line-height: 1.5;
}
.product-page .purchase-box span strong {
  font-weight: bold;
}
.product-page .purchase-box span.price {
  font-size: 1.75rem;
}
.product-page .purchase-box span.allow {
  color: #2b8510;
  font-weight: 500;
  font-size: 1.1rem;
}
.product-page .purchase-box span.deny {
  color: #cc0000;
  font-weight: 500;
  font-size: 1.1rem;
}
.product-page .purchase-box .button-wrapper {
  gap: 0.5rem;
}
.product-page .purchase-box .button-wrapper button {
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 1000px;
}

.rating input[type=radio] {
  display: none;
}
.rating .star:hover {
  cursor: pointer;
}

.create-review {
  width: 90%;
  align-self: center;
}
.create-review textArea {
  resize: none;
  padding-top: 0.5rem;
  padding-left: 0.3rem;
  border: 1px solid #D3D3D3;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  outline: 0;
}
.create-review button {
  padding: 0.4rem;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
}
.create-review p {
  margin-top: 0.4rem;
  font-size: 0.7rem;
  color: red;
}

.reviews {
  border: solid 1.5px #bababa;
  position: relative;
  align-self: center;
  width: 90%;
  height: 10rem;
  border-radius: 4px;
}
.reviews .review {
  position: relative;
  top: 0;
}
.reviews .review.active {
  transition: 0.75s ease;
}
.reviews .review.active.left {
  transform: translate(-50%, 0);
}
.reviews .review.active.right {
  transform: translate(50%, 0);
}
.reviews .right-arrow {
  position: absolute;
  left: 101%;
  top: 40%;
}
.reviews .right-arrow:hover {
  cursor: pointer;
}
.reviews .left-arrow {
  position: absolute;
  right: 101.5%;
  top: 40%;
}
.reviews .left-arrow:hover {
  cursor: pointer;
}
.reviews .review {
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 0 1rem 0.5rem;
}
.reviews .review .rating-info {
  gap: 0.2rem;
}
.reviews .review .rating-info p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.reviews .review .rating-info .rating {
  padding: 0;
  width: 4rem;
}
.reviews .review h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}/*# sourceMappingURL=App.css.map */