html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*/////////////////////////////// CSS RESET END ///////////////////////////////*/

$from: white;
$to: black;
$primary: darken(rgb(0, 162, 255), 15%);
$allow: rgb(58, 179, 21);
$dark: black;
$deny: darken(red, 10%);
$round-border: 0.25rem;
$border: darken(white, 75%) solid 1px;

body {
  font-family: "Work Sans", sans-serif;
}

button {
  color: white;
  border: $border;
  font-weight: 400;

  &.primary {
    background-color: $primary;
    &:hover {
      background-color: lighten($primary, 15%);
    }
  }

  &.dark {
    background-color: $dark;
    &:hover {
      background-color: lighten($dark, 20%);
    }
  }

  &.allow {
    background-color: $allow;
    &:hover {
      background-color: lighten($allow, 15%);
    }
  }

  &.deny {
    background-color: $deny;
    &:hover {
      background-color: lighten($deny, 15%);
    }
  }
  &.simple {
    color: #007185;
    background-color: transparent;
    font-weight: 300;
    font-size: 0.75rem;
    &:hover {
      text-decoration: underline;
    }
  }

  &.sold-out {
    background-color: gray;
    &:hover {
      cursor: context-menu;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

p {
  &.error {
    color: $deny;
    font-size: 0.7rem;
  }
}
.App {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  min-height: 100vh;
  &.home {
    position: relative;
    background: $from;
    background: radial-gradient(circle, darken($from, 90%) 0%, $to 100%);
    &::before {
      content: "";
      background-size: cover;
      background-image: url("https://i.imgur.com/sDeA7yG.jpg");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.35;
    }

    .main {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.sectionContainer {
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;

  &.center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.space-even {
    justify-content: space-evenly;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  &.center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.space-even {
    justify-content: space-evenly;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }
}

@import "./components/Nav/Nav";
@import "./components/Home/Home";
@import "./components/Store\ \(Products\)/ProductCard/ProductCard";
@import "./components/Store\ \(Products\)/SearchBar/SearchBar";
@import "./components/Store\ \(Products\)/ProductContainer/ProductContainer";
@import "./components/Misc/NotFound/NotFound";
@import "./components/Cart/Cart";
@import "./components/Cart/CartItem";
@import "./components/Misc/FormCard/FormCard";
@import "./components/Admin/CreateProduct";
@import "./components/Profile/Profile";
@import "./components/ProductPage/ProductPage";
@import "./components/Reviews\ and\ Rating/Rating";
@import "./components/Reviews\ and\ Rating/CreateReviews";
@import "./components/Reviews\ and\ Rating/Reviews";
