.sectionContainer{
    .profile{
        align-items: center;
        padding: 4rem 3rem;
        width: 60%;
        min-width: 27.5rem;
        background-color: white;
        border: 1px solid white;
        border-radius: 4px;
        gap: 1rem;

        .profile-details{

        }
    }

}