.sectionContainer{
    .profile-page{
        @include grid($col: 1fr 1fr 1fr, $row: auto);
        width: 100%;
        min-width: 27.5rem;
        background-color: white;
        border: 1px solid white;
        border-radius: 4px;
        section {
            &.profile-section{
                padding: 5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3rem;
                .profile-section-title{
                    font-size: 2rem;
                }
            }

        }
    }
}

@import "./UserDetails/UserDetails";
@import "./UserPurchases/UserPurchases";
@import "./UserReviews/UserReviews";