.reviews {
	border: solid 1.5px darken(#d3d3d3, 10%);
	position: relative;
	align-self: center;
	border-radius: 4px;

	.review {
		position: relative;
		top: 0;
		&.active {
			transition: 0.75s ease;
			&.left {
				transform: translate(-50%, 0);
			}
			&.right {
				transform: translate(50%, 0);
			}
		}
	}

	.right-arrow {
		position: absolute;
		left: 101%;
		top: 40%;
		&:hover {
			cursor: pointer;
		}
	}

	.left-arrow {
		position: absolute;
		right: 101.5%;
		top: 40%;
		&:hover {
			cursor: pointer;
		}
	}

	.review {
		width: 100%;
		gap: 0.5rem;
		padding: 0.5rem 0 1rem 0.5rem;

		.rating-info {
			gap: 0.2rem;
			p {
				user-select: none;
			}
			.rating {
				padding: 0;
				width: 4rem;
			}
		}
		h3 {
			font-size: 1rem;
			margin-bottom: 1rem;
			user-select: none;
		}
	}
}
