.cart-wrapper {
	align-items: center;
	padding-bottom: 1rem;
	background-color: white;
	width: 35rem;
	border: 1px solid white;
	border-radius: 4px;
	gap: 1rem;
	.cart-products {
		width: 100%;
	}
	.checkout-details {
		flex-grow: 1;
		
		padding: 0.75rem 2.5rem;
		width: 100%;
		align-items: flex-end;
		button {
			font-size: 1rem;
			padding: 0 2rem;
			border: 0;
			border-radius: 4px;
			height: 2rem;
		}
	}
}

.cart {
	width: 100%;
	height: calc(100% - 5rem);
	flex-direction: row-reverse;
	position: fixed;
	top: 5rem;
	left: 0;
	z-index: 10000;
}

.blackout {
	flex-grow: 1;
	background-color: black;
	opacity: 50%;
}
