.product-creator{
    textArea{
        border: 0;
        outline: none;
        border-left: 1px solid gray;
    }
    .new-product-name{
        font-size: 2rem;
        text-align: center;
    }
    .new-tags{
        font-size: 1rem;
        text-align: center;
    }

    .new-price {
        font-size: 1.5rem;
        text-align: center;
    }
    .product-image{
        &:hover{
            cursor: pointer;
        }
    }

    .hidden{
        display: none;
    }
}