.cart-wrapper{
    align-items: center;
    background-color: white;
    width: 50%;
    min-width: 27.5rem;
    border: 1px solid white;
    border-radius: 4px;
    gap: 1rem;
    .cart-products{
        width: 95%;
        }
    .checkout-details {
        padding: 0.75rem 2.5rem;
        min-width: 95%;
        align-items: center;
        button {
            position: relative;
            align-self: center;
            font-size: 1rem;
            padding: 0 2rem;
            border: 0;
            border-radius: 4px;
            height: 2rem;
        }
    }
}