.mainText{
    color: white;
    align-self: center;
    align-items: center;
    h1{
        text-align: center;
        font-weight: 500;
        font-size: 50px;
        margin: 0;
    }
    p{
        width: 28rem;
        text-align: center;
        font-weight: 200;
        font-size: 17px;
    }
    .flex-row{
        &.center{
            button{
                padding: 0.6rem 4rem 0.6rem 4rem;
                width: 14rem;
                border-radius: $round-border;
            }
        }
    }
}