// Variables //
$main-color: white;

///////////////////////////////////

.nav {
    height: 5rem;
    position: relative;
    div{
        align-self: center;

        a{
            color: $main-color;
            text-decoration: none;
            border: 0;
            &:hover{
                color: darken($main-color, 15%);
            }
        }
        
        .brand{
            font-size: 45px;
            font-weight: 600;
        }
    }

    .profile-section{
        gap: 0.5rem;
        .amount {
            font-size: 0.8rem;
            text-align: center;
            align-items: center;
            height: 16px;
            width: 16px;
            background-color: $allow;
            border-radius: 50%;
            display: inline-block;
            transform: translate(-5px, -12px);
            &.hidden{
                background-color: transparent;
                color: transparent;
            }
        }
    }
}