// Variables //
$main-color: white;

///////////////////////////////////

.nav {
    height: 5rem;
    position: relative;
    div{
        align-self: center;

        a{
            color: $main-color;
            text-decoration: none;
            border: 0;
            &:hover{
                color: darken($main-color, 15%);
            }
        }
        
        .brand{
            font-size: 45px;
            font-weight: 600;
        }
    }

    .profile-section{
        gap: 0.5rem;
    }
}