.card {
    background-color: white;
    width: 25rem;
    .card-details{
        margin: 1rem 1rem 1rem 1rem;
        text-align: center;
        &.flex-col{
            gap: 2rem;
        }
        h2{
            margin: 0;
            font-size: 2.5rem;
        }
        .tag-wrapper{
            gap: 1rem;
            color: white;
            .tag{

                padding: 5px 15px;
                border-radius: 7px;
                font-weight: 300;
                font-size: 1rem;
                &:hover{
                    cursor: context-menu;
                }
                &.tech{
                    background-color: $primary;
                }
                &.high-end{
                    background-color: rgb(212, 174, 69);
                }
                &.low-end {
                    background-color: black;
                }
                &.old-fashion {
                    background-color: rgb(95, 52, 17);
                }
            }
        }

        .price{
            font-size: 1.5rem;
        }

        .buttons-wrapper{
            &.flex-row{
                gap: 0.2rem;
            }
            button{
                width: 12.5rem;
                height: 2rem;
                border: none;
                border-radius: 4px;
                font-family: 'Work Sans', sans-serif;
                font-weight: 600;
                font-size: 15px;
            }
        }
        
    }

    .product-image {
        width: 20rem;
        height: 25rem;
    }
}

