body {
  margin: 0px;
  padding: 0px;
  font-family: "Work Sans", sans-serif;
}

button {
  color: white;
  border: #404040 solid 1px;
  font-weight: 600;
}
button.primary {
  background-color: #0071b3;
}
button.primary:hover {
  background-color: #006199;
}
button.dark {
  background-color: black;
  margin-left: 5px;
}
button.dark:hover {
  background-color: #262626;
}
button:hover {
  cursor: pointer;
}

.main {
  background-color: black;
}
.main.home {
  position: relative;
  background: white;
  background: radial-gradient(circle, #1a1a1a 0%, black 100%);
}
.main.home::before {
  content: "";
  background-image: url("https://i.imgur.com/sDeA7yG.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120rem;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.35;
}

.sectionContainer {
  height: 100vh;
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row.center {
  justify-content: center;
}
.flex-row.space-even {
  justify-content: space-evenly;
}
.flex-row.space-between {
  justify-content: space-between;
}
.flex-row.space-around {
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col.center {
  justify-content: center;
}
.flex-col.space-between {
  justify-content: space-between;
}
.flex-col.space-around {
  justify-content: space-around;
}
.flex-col.space-even {
  justify-content: space-evenly;
}

.nav {
  height: 5rem;
  position: relative;
}
.nav div {
  align-self: center;
}
.nav div a {
  color: white;
  text-decoration: none;
  border: 0;
}
.nav div a:hover {
  color: #f9f9f9;
}
.nav div .brand {
  font-size: 45px;
  font-weight: 600;
}

.mainText {
  color: white;
  align-self: center;
  align-items: center;
}
.mainText h1 {
  text-align: center;
  font-weight: 500;
  font-size: 50px;
  margin: 0;
}
.mainText p {
  width: 28rem;
  text-align: center;
  font-weight: 200;
  font-size: 17px;
}
.mainText .flex-row.center button {
  padding: 0.6rem 4rem 0.6rem 4rem;
  width: 14rem;
  border-radius: 0.25rem;
}

div.searchbar {
  background-color: #bfbfbf;
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input.searchbar {
  font-family: "Work Sans", sans-serif;
  height: 1.5rem;
  align-self: center;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  width: 14rem;
  border: 0;
}
input.searchbar:focus {
  outline: none;
  border: 1px solid #33b5ff;
  box-shadow: 0px 0px 0.5rem 0.1rem #66c7ff;
}

.select-box {
  align-self: center;
  position: relative;
  overflow: hidden;
}
.select-box select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Work Sans", sans-serif;
  height: 2.5rem;
  width: 5rem;
  padding-left: 0.2rem;
  border: 1px #0071b3 solid;
  outline: none;
  color: white;
  background-color: #0071b3;
}
.select-box select::-ms-expand {
  display: none;
}
.select-box select:hover {
  cursor: pointer;
}
.select-box::after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  position: absolute;
  top: 45%;
  right: 3px;
  content: "";
  z-index: 98;
}
.select-box::after:hover {
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */