div {
	&.searchbar {
		background-color: lighten(black, 75%);
		height: 3rem;
		margin-bottom: 1rem;

		.link {
			margin-right: 0.5rem;
			align-self: center;
			text-decoration: none;
			color: white;
			font-weight: 600;
			&:hover {
				color: darken(white, 5%);
			}
		}
	}
}

input {
	&.searchbar {
		font-family: 'Work Sans', sans-serif;
		height: 1.85rem;
		align-self: center;
		padding: 0.5rem 0.75rem 0.5rem 0.75rem;
		width: 14rem;
		border: 1px solid white;
		&:focus {
			outline: none;
			border: 1px solid lighten($primary, 25%);
			box-shadow: 0px 0px 0.5rem 0.1rem lighten($primary, 35%);
		}
	}
}

.select-box {
	align-self: center;
	position: relative;
	overflow: hidden;
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-family: 'Work Sans', sans-serif;
		height: 3rem;
		width: 5rem;
		padding-left: 0.2rem;
		border: 1px $dark solid;
		outline: none;
		color: white;
		background-color: $dark;
		&::-ms-expand {
			display: none;
		}
		&:hover {
			cursor: pointer;
		}
	}

	&::after {
		width: 0;
		height: 0;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid white;
		position: absolute;
		top: 45%;
		right: 3px;
		content: '';
		&:hover {
			cursor: pointer;
		}
	}
}
